<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="F-Connect"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".LienHe"
            android:exported="true" />
        <activity
            android:name=".ChungMinhNhanDan"
            android:exported="true" />
        <activity
            android:name=".DoiMatKhau"
            android:exported="true" />
        <activity
            android:name=".CaiDatTaiKhoan"
            android:exported="true" />
        <activity
            android:name=".ThayDoiSDT"
            android:exported="true" />
        <activity
            android:name=".ThayDoiThongTinCaNhan"
            android:exported="true" />
        <activity
            android:name=".CapNhatHoSo"
            android:exported="true" />
        <activity
            android:name=".User_Profile"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>